#options_section {
    .tab_panel {
        display: block;
        &.is-hidden {
            display: none;
        }
    }
}

#options_tab_controls {
    display: flex;
    margin-bottom: 1.5rem;
}

#investing-details #intro_section {
    margin: 1.5rem 0;
}