@use 'variables';

#filter_btn {
    border: 1px solid variables.$primary_light_grey;
    border-radius: 4px;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: variables.$white;
    span {
        display: inline-block;
    }
}

#filter_section {
    margin: 1rem 1rem 0;
    padding: 0;
    box-shadow: unset;
}

aside {
    display: none;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;    
    flex-direction: column;
    &.open {
        display: flex;
    }
    p{
        justify-content: space-between;
        display: flex;
        margin-bottom: 1rem;
    }
    #filter_menu_header {
        padding: 1rem;
    }
    #filter_menu_body {
        padding: 1rem;
        flex: 1 0 auto;
    }
}

#library {
    .content_wrapper {
        display: grid;
        grid-template: min-content auto min-content/repeat(12, 1fr);
        column-gap: 1rem;
        figure {
            grid-column: span 4;
            margin: 0 0 .5rem;
            &:last-child {
                margin: 0 0 .5rem;
            }
            figcaption {
                background: variables.$white;
                .video_length {
                    display: none;
                }
            }
        }
    }
}


#filter_tags {
    height: 85px;
    overflow: auto;
    > div {
        display: inline-block;
        margin-bottom: 1rem;
        width: max-content;
        > span {
            border: 1px solid grey;
            border-radius: 16px;
            text-align: center;
            display: flex;
            padding: 0.2rem 0.5rem;
            align-items: center;
        }
    }
}
#close_btn_wrapper {
    margin-bottom: 1rem;
    #filter_close_btn {
        padding: 0;
    }
}
#filter_menu_list{
    padding: 0;
    margin: 0;
    height: 186px;
    overflow: auto;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: variables.$primary;
            border: 2px solid variables.$primary;
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }
    }
    label {
        position: relative;
        padding-left: 32px;
        height: 24px;
        align-items: center;
        display: flex;
    }
    li {
        padding: 0;
        margin-bottom: 1rem;
    }
}
#filter_wrapper {
    height: calc(100% - 50px);
    overflow: hidden;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid variables.$grey;
    border-radius: 4px;
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}

  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .cross {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
  }
  .cross:before, .cross:after {
    position: absolute;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: variables.$grey;
  }
  .cross:before {
    transform: rotate(45deg);
  }
  .cross:after {
    transform: rotate(-45deg);
  }

  #filter_dropdown_wrapper {
    margin-bottom: 1.5rem;
    select {
        width: 100%;
        border-radius: 4px;
        padding: 0.5rem 0.25rem;
        border: 1px solid variables.$grey;
    }
  }

  #apply_button {
    margin: 0 auto;
    padding: 0.5rem 2.5rem;
    border-radius: 100px;
    border: 2px solid #0075BE;
    margin-bottom: 1.5rem;
  }

  #mobile_btn_wrapper {
    display: flex;
  }
  #desktop_btn_wrapper {
    display: none;
  }
  .footer_btn_wrapper {
    display: flex;
    flex-direction: column;
  }
  #media_list {
    display: none;
  }
  #media_section {
    background: inherit;
    box-shadow: unset;
  }
  @media screen and (min-width:768px) {
    aside {
        width: 375px;
        left: unset;
        transform: translateX(375px);
        transition: 1s all ease;
        &.open {
            transform: translateX(0px);
            transition: 1s all ease;
            display: block;
        }
    }
    #filter_menu_list {
        height: auto;
    }
    #filter_wrapper {
        display: flex;
        flex-direction: column;
    }
    #library .content_wrapper figure{
        grid-column: span 6;
    }
  }

  @media screen and (min-width:1024px) {
    aside {
        width: 100%;
        display: none;
        transform: unset;
        transition: unset;
        position: unset;
        p {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
        }
        #filter_menu_body {
            display: flex;
            border: 1px solid variables.$primary_light_grey;
            padding: unset;
        }
        #filter_dropdown_wrapper {
            flex: 0 0 205px;
            border-right: 1px solid variables.$primary_light_grey;
            margin-bottom: 0;
        }
        #filter_menu_list {
            flex: 1;
            padding: 1rem;
            a.link {
                margin-bottom: 1rem;
                display: inline-block;
            }
        }
    }
    #mobile_btn_wrapper,#filter_count,#media_select,#close_btn_wrapper {
        display: none;
    }
    #desktop_btn_wrapper {
        display: flex;
        align-items: center;
        padding: 1rem;
        justify-content: end;

    }
    #filter_tags {
        height: unset;
        grid-column: 1 /12;
    }
    #filter_menu_footer {
        border-right: 1px solid variables.$primary_light_grey;
        border-left: 1px solid variables.$primary_light_grey;
        border-bottom: 1px solid variables.$primary_light_grey;
        border-radius: 0 0 4px 4px;
    }
    #filter_menu_header {
        border-right: 1px solid variables.$primary_light_grey;
        border-left: 1px solid variables.$primary_light_grey;
        display: grid;
        grid-template: min-content auto min-content / repeat(12,1fr);
    }
    #media_list {
        display: block;
        margin: 0;
        padding: 0;
        li {
            &.active {
                background: variables.$light_grey;
            }
            a {
                color: variables.$slate;
                padding: 1rem;
                display: block;
            }
        }
    }
    #filter_btn {
        margin-bottom: -2px;
        z-index: 3;
        position: relative;
    }
    #apply_button {
        margin: 0 0 0 2rem;
        padding: 0.25rem 1.5rem;
        border-radius: 28px;
        border: unset;
        margin-bottom: unset;
        color: white;
        background: #0075BE;
    }
  }